:root {
    --global--highlight: rgb(252, 240, 112);
    --global--highlight-shadow: rgba(252, 240, 112, 0.5);
    --global--background: rgb(28, 28, 50);
}

body {
    background-color: var(--global--background);
    color: white;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
}

@media only screen and (max-width: 800px) {
    body {
        font-size: 12px;
    }
  }

.node {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: var(--global--highlight); 
    user-select: none;
}


.node:hover{
    
    animation: pulse 1.6s infinite;
}


@keyframes pulse {
	0% {
		box-shadow: 0 0 0 0 rgba(250, 240, 120, 0);
	}

	50% {
		box-shadow: 0 0 0 25px var(--global--highlight-shadow);
	}

	100% {
		
		box-shadow: 0 0 0 0 rgba(250, 240, 120, 0);
	}
}

.centred {
    display: grid;
    place-items: center;
}

.hidden {
    background-color: transparent !important;
    color: transparent !important;
}



#page {
    display: grid;
    grid-template-rows: 1fr 2fr 6fr;
    height: 100vh;
    gap: 10px;
}

#info-banner {
    display: flex;
    flex-direction: column;
    

    background-color: transparent;
    color: var(--global--background);
    width: 0vh;
    padding: 15px;
    height: 100%;
    border-radius: 10px;
    transition: all 0.8s ease-in-out;

}

#info-banner.info-anim{
    width: 50vw;
    color: var(--global--background);
    background: rgb(250, 240, 120, 1); 
}


#node-container {
    display: grid;
    place-items: center;
}

#info-banner-description {
    font-size: 0px;
    transition: all 0.8s ease-in-out;
}


#info-banner-description.info-anim {
    font-size: 13px;
}
